#pragma once

// ======= WIFI =======
#define WIFI_SSID     "" // TODO
#define WIFI_PASSWORD "" // TODO

// ======= MQTT =======
#define MQTT_HOST     "192.168.x.x"  // TODO
#define MQTT_PORT     1883
#define MQTT_TOPIC    "iot/window"
#define MQTT_CLIENT   "heltec-adaptive-sampler"
#define MQTT_USER  ""   // TODO
#define MQTT_PASS  ""   // TODO

// ======= TTN / LORAWAN =======
#define TTN_DEV_EUI 0x0000000000000000ULL // TODO
#define TTN_JOIN_EUI 0x0000000000000000ULL // TODO
// Bytes from TTN console (MSB first)
#define TTN_APP_KEY { 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 } // TODO
#define LORA_FREQ   868.0

// ======= INA219 I2C PINS =======
#define INA219_SDA  41   // J3 pin 8
#define INA219_SCL  42   // J3 pin 7

// ======= EXPERIMENT =======
#define MAX_SAMPLE_RATE      1000.0f
#define FFT_SIZE             2048
#define WINDOW_SECS          5.0f
#define NUM_WINDOWS          5
#define FILTER_WINDOW        21
#define TRADEOFF_WINDOW_SECS 30
#define ZSCORE_THRESH        3.0f
#define HAMPEL_THRESH        3.0f
#define BENCHMARK_SAMPLES    10000

// ======= TASK STACK SIZES =======
#define STACK_SAMPLER   12288   // 12KB - holds 2048 float buffer
#define STACK_FFT       24576   // 24KB - holds two 2048 double buffers
#define STACK_FILTER    8192    // 8KB
#define STACK_COMM      8192    // 8KB
#define STACK_MONITOR   4096    // 4KB

// ======= TASK PRIORITIES =======
#define PRIO_SAMPLER    3
#define PRIO_FFT        2
#define PRIO_FILTER     2
#define PRIO_COMM       1
#define PRIO_MONITOR    1

// ======= MONITOR =======
#define INA219_POLL_MS  100         // INA219 read interval
#define LOG_SIGNAL_TIMESERIES true  // write some timeseries data to Serial to generate plots
